@charset "utf-8";
/* CSS Document */

body,div,h1,h2,h3,h4,h5,h6,p,a,span,tr,td,input,ul,li{
	margin:0;
	padding:0;
	font-family:"microsoft yahei";
	}
img{
	border:0;}	

.left{
	float:left;}	
.right{
	float:right;}	
#top{
	width:100%;
	height:50px;
	background:url(../images/img-top.png) #fff left bottom;
	min-width:1220px;
	}	
#top-href{
	margin-left:20px;
	padding-top:10px;
	}	
#top-href a{
	line-height:33px;
	padding:0 10px;
	border-right:1px solid #CCC;
	}	
#main{
	width:1000px;
	height:auto;
	margin:0 auto;
    overflow: hidden;}
#logo{
	height:180px;
	padding-top:30px;
	}		
#menu{
	width:100%;
	height:71px;
	margin-top:20px;
	background:#fff;
	}	
#menu a{
	display:inline-block;
	width:50%;
	height:71px;
	background:#404145;
	font-size:34px;
	line-height:60px;
	text-align:center;
	color:#ffffff;
	}	
#menu .menu-act{
	background:url(../images/icon-v.png) #89b983 center bottom no-repeat;}	
#four-item{
	width:100%;
	height:310px;
	margin-top:20px;
	}	
.item-list{
	width:230px;
	height:230px;
	margin-right:23px;
	}	
.item-list-over{
	margin-right:0 !important;}	
.img-bg{
	width:220px;
	height:220px;
	background:#f2f6f7;
	padding:10px;
	overflow:hidden;
	}
.img-bg img{
    width: 220px;
    height: 220px;
}
.img-font{
	width:230px;
	display:inline-block;
	text-align:center;
	line-height:30px;
	font-size:18px;
	color:#808080;
	}	
#goods{
	width:100%;
	height:auto;
	padding-top:30px;}	
.goods-list{
    display: block;
	width:100%;
	height:295px;
	position:relative;
	background:#f2f6f7;
	margin-top:30px;
    cursor: pointer;
	}	
.goods-photo{
	position:absolute;
	top:-15px;
	bottom:-15px;
	width:40%;
    overflow: hidden;
	}
.goods-photo img{
    width: 100%;
    height: 329px;
}
.position-left{
	left:-5px;}
.position-right{
	right:-5px;}
.goods-font{
	width:56.5%;
	height:265px;
	padding-top:10px;
	padding-right:20px;
	padding-bottom:20px;
	padding-left:20px;
	text-overflow:ellipsis;
	overflow:hidden;
	}
.goods-font h2{
	display:block;
	width:690px;
	height:40px;
	line-height:40px;
	color:#5f81b1;
	white-space:nowrap; 
	text-overflow:ellipsis; 
	overflow:hidden;
	}		
.goods-font p{
	font-size:18px;
	color:#57595c;
	}	
#product{
	width:960px;
	height:395px;
	padding:10px 20px 10px 20px;
	background:#f2f6f7;
	margin:auto;
	margin-top:30px;
	overflow:hidden;
	}
#product_nva{
	width:100%;
	height:60px;padding-bottom:10px;
	background:url(../images/sep1.png) no-repeat center bottom;
	}
#product_nva h1{
	display:block;
	width:200px;
	height:50px;
	float:left;
	color:#336321;
	margin-left:10px;
	line-height:60px;
	font-size:28px;
	text-align:center;
	font-weight:normal;
	}
.product_a{
	display:block;
	width:151px;
	height:55px;
	float:left;
	background:url(../images/botton1.png);
	margin-left:20px;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	color:#175289;
	line-height:55px;}	
/************** 推荐商品 *****************/	
.img_small_outer{
	width:140px;
	height:140px;
	overflow:hidden;
	background:#eee url('../images/loading.gif') 50% 50% no-repeat;
	border:1px solid #333;	
	float:left;
}
.img_big_outer{
	width:290px;
	height:285px;
	overflow:hidden;
	background:#eee url('../images/loading.gif') 50% 50% no-repeat;
	border:1px solid #333;	
	float:left;
	margin-left:20px;
}
.jqui_transfer{
}

.sort_items_nav{
	width:auto;
	height:30px;
	margin:15px;
	margin-bottom:6px;
}
.sort_items_title{
	font-weight:bold;
	font-family:"微软雅黑", "黑体";
	font-size:18px;
	line-height:30px;
	color:#749939;
	float:left;
}
.sort_items_tab ul{
	list-style-type: none;
	height:55px;
	margin:0;
	padding:0;
	margin-left:30px;
	float:left;
	overflow:hidden;
}
.stabs{
	display:inline-block;
	float:left;
	font-size:18px;
	font-family:"微软雅黑", "黑体";
	margin: 0 10px;text-align:center;
	height:55px;width:151px;
	line-height:55px;
	overflow:hidden;
	color:#175289;cursor:pointer;
	
}
.stabs span{
		
}
.stabs.stabs_active{
	background:#669dd5;
	background:url(../images/botton1.png) 0 0 no-repeat;
}
.stabs_last{
	border:none;
}
.items_imgs{
	width:auto;
	height:300px;
	margin:0 23px;
	margin-top:15px;

}
.left_part{
	width:300px;height:300px;
	overflow:hidden;
	float:left;	position:relative;
}
.left_part .sort_item_small{
	height:145px;width:145px;
	background:#eee url('../images/loading.gif') 50% 50% no-repeat;
	cursor:pointer;
}
#sort_item_0{position:absolute; top:0;left:0;}
#sort_item_1{position:absolute; top:0;right:0;}
#sort_item_2{position:absolute; bottom:0; -bottom:-5px;/*ie6 hack*/ left:0;}
#sort_item_3{position:absolute; bottom:0; -bottom:-5px;/*ie6 hack*/ right:0;}
.sort_item_small img{
	height:145px;width:145px;
}
.sort_item_big{
	height:300px;width:300px;
	float:left;
	margin-left:7px;
	background:#eee url('../images/loading.gif') 50% 50% no-repeat;
	cursor:pointer;
}
.sort_item_big img{
	height:300px;width:300px;
	border:none;
}
.right_part{
	width:300px;height:300px;
	overflow:hidden;
	float:right;	position:relative;
}
.right_part .sort_item_small{
	height:145px;width:145px;
	background:#eee url('../images/loading.gif') 50% 50% no-repeat;
	cursor:pointer;
}
#sort_item_5{position:absolute; top:0;left:0;}
#sort_item_6{position:absolute; top:0;right:0;}
#sort_item_7{position:absolute; bottom:0; -bottom:-5px;/*ie6 hack*/ left:0;}
#sort_item_8{position:absolute; bottom:0; -bottom:-5px;/*ie6 hack*/ right:0;}
.sort_item_big{
	position:relative;
	overflow:hidden;
}
#item_title{
	position:absolute;
	z-index:2;
	bottom:0; 
	float:left;
	width:353px;
	height:30px;
	line-height:30px;
	font-size:15px;
	font-weight:bold;
	background:#333;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity: 0.5; 
	color:#fff;
	padding:0 10px;
}
#footer{
	width:100%;
	height:140px;
	background:#3d3c38;
	margin-top:30px;
	padding-top:20px;
	min-width:1220px;
	}
#footer p{
	width:100%;
	line-height:25px;
	font-size:16px;
	text-align:center;
	color:#ffffff;
	}	
#footer .footer-gg{
	display:block;
	width:100%;
	height:30px;
	line-height:30px;
	background:url(../images/icon-bottom-font.png) center center no-repeat;
	margin-bottom:15px;
	}	
/*******   goods-info       ******/
#small-logo{
	height: 120px;
	padding-top: 30px;
	}	
#small-logo a{
	display:inline-block;}
.small-logo-link{
	width:160px;
	height:106px;
	}	
.goods-name{
	width:auto;
	text-align:left;
	font-size:60px;
	line-height:120px;
	margin-left:10px;
	color:#929292;
	}	
.essay-header{
	width:100%;
	height:45px;
	border-top:1px solid #ccc;
	background:#f2f6f7;	
	line-height:45px;
	color:#959595;	
	font-size:24px;
	}
.essay-time{
	padding-left:10px;}	
.essay-photo{
	width:925px;
	height:626px;
	background:url(../images/imgbg.png) center center no-repeat;;
    text-align: center;
    padding:39px 38px 22px 37px;
	overflow:hidden;
	}
.essay-photo img{
    width: 100%;
    height: 606px;
    margin: 0 auto;
    border: none;
}
.essay-font{
    width: 1000px;
    height: auto;
    margin: 0 auto;
	font-size:24px;
	color:#929292;
	}	
.footer-beian{
    width: 100%;
    text-align: center;
}
.logo-img{
    display: block;;
    width: 312px;
    height: 176px;
}
.logo-font{
    font-size: 90px;
    line-height: 200px;
    color: #798406;
    font-weight: bold;
    padding-left: 20px;
}
.logo-font span{
    color: #929292;
}

	