<div class="askbar">
<a href="tel://<yang:phone />" rel="nofollow">电话咨询</a><a href="<yang:swturl/>" rel="nofollow">在线咨询</a>
</div>

<!--联系我们-->
<dl class="box">
  <dt class="title"><a href="#" class="more arr-round arr-round-blue"></a>联系我们</dt><dd class="intro-box">
    <p>【公司地址】：<yang:address/><br/>
      【公司网站】：<yang:siteurl/><br/>
    在线咨询QQ：<yang:qq/><br/>
    咨询热线：<a href="tel://<yang:phone/>" class="btn-blue"><yang:phone/></a></p>
  </dd>
</dl>
<!--友情链接-->
<div class="copyright">
<p><yang:copyright/></p>
</div>
<ul id="fixed-foot">
  <li class="border-left-none"><a class="tel" href="tel://<yang:phone />"><div><span class="icon_bg_tel"></span><span>电话咨询</span></div></a></li>
  <li><a href="<yang:swturl/>" rel="nofollow"><div><span class="icon_bg_swt"></span><span>在线咨询</span></div></a></li>
</ul>
<script language="javascript"></script>