<!--[if IE 6]>
<script src="__PUBLIC__/js/DD_belatedPNG_0.0.8a-min.js" language="javascript" type="text/javascript"></script>

<![endif]-->
<script type="text/javascript">
$(function(){
	var $chkurl = "{:U('Public/loginChk')}";
	$.get($chkurl,function(data){
		//alert(data);
		if (data.status == 1) {
			$('#top_login_ok').show();
			$('#top_login_no').hide();
			//$('#top_login_ok').find('span');
			$('#top_login_ok>span').html('欢迎您，'+data.nickname);
		}else {			
			$('#top_login_ok').hide();
			$('#top_login_no').show();
		}
	},'json');	
});
</script>
<!-- <div class="warp" id="herd"> -->
    <!--
	<div id="top_fla">
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="998" height="159">
	  <param name="movie" value="__PUBLIC__/images/top.swf" />
	  <param name="quality" value="high" />
	  <PARAM NAME=wmode value="transparent">
	  <embed src="__PUBLIC__/images/top.swf" quality="high" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="998" height="159"></embed>
	</object>
	</div>
	-->
    <!--
	<div id="top_member">
		<!--<a href="{:U(GROUP_NAME.'/Product/basket')}">购物车</a>-->
    <!--
		<div id="top_login_no">
		<a href="{:U(GROUP_NAME.'/Public/register')}">会员注册</a>	
		<a href="{:U(GROUP_NAME.'/Public/login')}">会员登录</a>	
		<span>欢迎您，游客！您可以选择</span>	
		</div>
		<div id="top_login_ok" style="display:none;">
		<a href="{:U(GROUP_NAME.'/Member/index')}">会员中心</a>	
		<a href="{:U(GROUP_NAME.'/Public/logout')}">安全退出</a>
		<span>欢迎您， </span>
		</div>
			
	</div>
    -->
	<!--<div id="top_logo"><a href="<yang:siteurl />"></a></div>-->
    <div id="logo"><a class="left logo-img"><img src="__PUBLIC__/images/logo-big-all.png" title="1980特产"></a><a class="left logo-font"><span>1980</span>生态特产</a></div>
<!-- </div>-->
<!--menu -->
        <!--
<div id="menu">
	<ul>
		<li><a href="<yang:siteurl />">首 页</a></li>
		<yang:navlist typeid='0'>
		<li><a href='{$navlist.url}'>{$navlist.name}</a></li>
		</yang:navlist>
	</ul>
</div>
-->
<div id="menu">
    <a class="menu-act">顾客</a><a>商家</a>
</div>