<link href="__ROOT__/Data/static/js_plugins/yyOnline/default.css" rel="stylesheet" type="text/css" />
<div id="YYOnlineView" class="yy_online_view">
	<div class="top_b"></div>
	<div class="body">
	<dl>
		<dd class="title">QQ在线客服</dd>
		<dd>
			<span class="ico_zx">在线咨询</span>
		</dd>
		<dd class="qq">
			<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=307299635&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:307299635:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
		</dd>
		<dd class="qq">
			<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3072996351&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:3072996351:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
		</dd>
	</dl>
	<dl>
		<dd class="title bborder">电话咨询</dd>
		<dd>
			<span class="ico_tel">400-000-000</span>
		</dd>
		<dd class="msg noborder">
				<a href="{:U('Guestbook/index')}" target="_blank">给我们留言</a>
		</dd>
	</dl>
	</div>
</div>
<script src="__ROOT__/Data/static/js_plugins/yyOnline/scrollx.js" type="text/javascript" language="JavaScript"></script>
<script type="text/javascript">
if(document.getElementById("YYOnlineView")){new scrollx({id:"YYOnlineView",l:-1,t:1,f:1,m:-1});}
</script>