<!--
<div class="warp1 mt" id="bottom">
	<a href="<yang:siteurl />"><yang:sitename /></a>版权所有
	<br />
	联系地址：<yang:address />  电话：<yang:phone /><br />
	Copyright © 2014-2014 XYHCMS. 行云海软件 版权所有 <a href="http://www.0871k.com" target="_blank">Power by XYHCMS</a>
</div>
-->
<div id="footer">
    <a class="footer-gg"></a>
    <p>成都移客通科技有限公司 copyright (c) 2012-2013 备案号：蜀ICP备13018391号</p>
    <p>地址：成都武侯区武兴四路166号西部智谷D区 43幢405号 联系电话：028-85078440</p>
    <div class="footer-beian"><img src="__PUBLIC__/images/gongshang_badage.png" ></div>
</div>